.technmaps-head-form-info{margin: 0; color: red; }
.technmaps-head-form-info p{margin-bottom: 10px; text-align: center; width: 100%;}

.video-list__elem-img{
    height: 315px;
    padding-top: 0;
}

.video-list__elem-img::before{height: 0; width: 0; display: none;}

.slogan-cont-txt p {display: inline}

.questionary-message.error, .team-group_support-form-message.error, .head-tel-drop-message.error{color: red;}
.questionary-message.success, .team-group_support-form-message.success, .head-tel-drop-message.success{color: green;}